.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
 }
 
 .active-row .spinner-container {
    background-color: transparent;
 }
 
 .spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
 }
 
 @keyframes spin {
    0% {
       transform: rotate(0deg);
    }
    100% {
       transform: rotate(360deg);
    }
 }
 /* Header  */
.local_head {
   display: flex;
   height: 40px;
   gap: 4px;
   margin-bottom: 40px;
   cursor: pointer;
}

.local_icon_head {
   background-color: #0671FD;
   color: white;
   padding: 4px;
   border-radius: 5px;
   width: 40px;
   display: flex;
   justify-content: center;
   align-items: center;

}

.local_text_head_title {
   color: #0671FD;
   margin: 0 10px;
}

.local_text_head_subtitle {
   color: #6F6C7B;
   margin: 0 10px;
}
.local_button {
   background-color: #1372ee;
   color: white;
   border: none;
   border-radius: 4px;
   padding: 5px 100px;

}

.local_button_volver {
   /* background-color: #1372ee; */
   border: 1px solid rgb(131, 128, 128);
   color: rgb(131, 128, 128);
   border-radius: 4px;
   padding: 5px 100px;
}